@import "./font.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "cabinet";
}

.extra-loose {
  line-height: 4;
}

/* Hamburber Menu */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  width: 25px;
  height: 5.5px;
  background: #333;
  transform: rotate(0);
  transition: all 0.5s;
}
.hamburger-top-light,
.hamburger-middle-light,
.hamburger-bottom-light {
  position: absolute;
  top: 0;
  width: 25px;
  height: 5.5px;
  transform: rotate(0);
  transition: all 0.5s;
  background: #fff;
}

.hamburger-top {
  width: 10px;
}
.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}
.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}
.open .hamburger-top {
  width: 25px;
  transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .hamburger-middle {
  display: none;
}
.open .hamburger-bottom {
  border-top: 2px solid #027402;
  height: 6px;
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

thead tr {
  text-align: left;
}

th {
  padding: 1.1em 2em;
}

td {
  padding: 1.1em 2em;
}

td:first-child,
th:first-child {
  padding-left: 0;
}

.PhoneInputInput {
  border: none;
}
.PhoneInputInput:focus {
  outline: none;
}

.auth_img:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
  z-index: 1;
}

.auth_img:after {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
  z-index: 1;
}

.loader_img:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 150px;
  height: 150px;
  background: rgba(0, 199, 0, 0.2);
  border-radius: 50%;
  animation: pulse-border 1000ms ease-out infinite;
  z-index: 1;
}

.loader_img:after {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 200px;
  height: 200px;
  background: rgba(0, 199, 0, 0.2);
  border-radius: 50%;
  animation: pulse-border 1000ms ease-out infinite;
  z-index: 1;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.3);
    opacity: 0;
  }
}

.button-spinner {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid transparent;
  border-top-color: rgb(34, 199, 0);
  border-radius: 50%;
  animation: button-loading-spinner 1s linear infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
